.trackStepContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 500px;
}

.sequencerStep {
    margin: 4px;
    height: 30px;
    border-radius: 2px;
    background-color: white;
    outline: 1px solid black;
    display: inline-block;
    flex: 1;
}

.sequencerStep:hover {
    outline: 1px solid orange;
}

.enabled {
    background-color: green;
}

.primary {
    background-color: lightgrey;
}