.track-container {
    margin: 2%;
}

.track {
    background-color: rgb(223, 236, 241);
    border-radius: 5px;
    padding: 1%;
    margin: 1%;
    display: flex;
    flex-direction: row;
}

.track-controls {
    display: inline-block;
    width: 275px;
}

.track-label {
    display: inline-block;
    width: 75px;
}

.track-volume {
    width: 75px;
    margin-right: 10px;
}

.track-pan {
    width: 75px;
    margin-left: 10px;
}

.track-step-container {
    display: flex;
    flex-direction: row;
    width: 40%;
}